{% extends 'base.html' %}

{%block title%} Main {%endblock title%}

{% block content %}
  {% for post in object_list %}
  <div class="card border-dark text-center mb-3 col-md-offset-12"><a class="text-dark" href="{% url 'post_detail' post.pk %}">
  <div class="card-header border-dark">{{ post.title }}</div>
  <div class="card-body">
    <h5 class="card-title">Author: {{ post.author }}</h5>
  </div></a>
  <div class="card-footer bg-dark text-light">Published: {{ post.date_posted|date:"F d, Y"  }}</div>
</div>
        {% endfor %}
    {% for contact in page_obj %}
        {{ contact.full_name|upper }}<br>
        {% endfor %}
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1"> First </a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">⬅</a></li>
        {% endif %}
        <h3 class="text-center">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h3>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">➡</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> Last </a></li>
        {% endif %}
</ul>
</nav>
{% endblock content %}