{% extends 'base.html' %}

{%block title%} Головна {%endblock title%}

{% block content %}
  {% for post in object_list %}
    <div class="card text-center text-bg-light border-dark">
  <div class="card-body">
    <h3 class="card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
    <h6 class="card-subtitle mb-2 text-muted">Автор: {{ post.author }}</h6>
    <p class="card-text">{{ post.text }}</p>
  </div>
        {% endfor %}
    {% for contact in page_obj %}
        {{ contact.full_name|upper }}<br>
  {% endfor %}<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"> Перший</a>
            <a href="?page={{ page_obj.previous_page_number }}">⬅</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">➡</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Останній</a>
        {% endif %}
    </span>
</div>
{% endblock content %}