{% extends 'base.html' %}

{%block title%} Delete the post {%endblock title%}

{% block content %}
  <div class="alert alert-danger text-center" role="alert"><h3>Delete the post</h3>
    <form action="" method="post">{% csrf_token %}
      <p class="card-text">Are you sure you want to delete the post "{{ post.title }}"?</p>
        <input class="btn btn-danger" type="submit" value=" Пiдтвердити " />
    </form>
  <div class="text-center"><button class="btn btn-dark" onclick="GoBack()">Back</button></div>
    </div>
{% endblock content %}